In [1]:
import pandas as pd

In [2]:
import json

In [18]:
raw_data = """
{
"name" : ["karthik", "krishna", "tamil", "manoj"],
"empid" : ["123A", "123B", "123C", "123E"],
"age" : [23, 25, 56, 34],
"place" : ["chennai", "kanchipuram", "coimbatore", "ooty"]
}
"""

In [14]:
print(type(raw_data))

<class 'str'>

In [ ]:
#string to dict conversion

In [20]:
emp_details = json.loads(raw_data)
print(emp_details)

{'name': ['karthik', 'krishna', 'tamil', 'manoj'], 'empid': ['123A', '123B', '123C', '123E'], 'age': [23, 25, 56, 34], 'place': ['chennai', 'kanchipuram', 'coimbatore', 'ooty']}

In [21]:
print(type(emp_details))

<class 'dict'>

In [22]:
#Search values

In [23]:
emp_details["place"]

['chennai', 'kanchipuram', 'coimbatore', 'ooty']

In [24]:
emp_details["empid"]

['123A', '123B', '123C', '123E']

In [25]:
#dataframe creation

In [36]:
df = pd.read_json(raw_data)
df

      name empid  age        place
0  karthik  123A   23      chennai
1  krishna  123B   25  kanchipuram
2    tamil  123C   56   coimbatore
3    manoj  123E   34         ooty

In [35]:
#create df using json file  #install notepad++
file ='C:\Users\Krishna\Documents\Python3\Untitled Folder\jsonformatter.json'
df = pd.read_json(raw_data)
df

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-35-0c08d1eb9c21>, line 2)